data-user/*
**/.DS_Store
examples/*/*.fits
data-user/*/*fits
**/cache
**/log_*
**/log_00000
Makefile
MEINV
**/.o
**/.d
**/verbose*
Objs/
bin/
!log_*.c
!log_*.h
Tools/input
niris_example/data/res/
niris_example/res.fits
**/res.fits
